# Kopiraj u .env i prilagodi po želji
VITE_SOLANA_RPC=https://api.devnet.solana.com
VITE_PROGRAM_ID=842JeffU95RE7xz8Bkdu2pQQ5GDNYhmKsQxusfeG9uzL
# Opciono podrazumevani mint u polju (nakon npm run vault -- demo nalepi mint adresu)
# VITE_MINT=
